#test1
{
   float: left;
    background-color: yellow;
    width:250px;
    border: 1 px solid black;
    border-width: 2px;
    border-color:black;
    border-style: solid;
   
}
#test2
{ 
    border:1 px solid black;
    float: right;
    width:250px;
    background-color:lightblue;
    margin-right: 500px;
    border-width: 2px;
  border-color:black;
  border-style: solid;
   
}
#test
{
    display: inline-block;
    width: 100%;
   
    
}
#div1
{
width:250px;
height:250px;
background-color:yellow;
float: left;
margin:20px;
border:1px solid black;
display: none;
}
#div2
{
  width:250px;
  height:250px;
  background-color:pink;
  float:left;
  margin:20px;
  border:1px solid black;
  display: none;
}
#div3
{
  width:250px;
  height:250px;
  background-color:lightblue;
  float:left;
  margin:20px;
  border:1px solid black;
  display: none;
}
#div4
{
  width:250px;
  height:250px;
  background-color:rgb(142, 233, 133);
  float:left;
  margin:20px;
  border:1px solid black;
  
}
#flip
{
  height: 50px;
  background-color: lightcoral;
}
#unflip
{
  height: 50px;
  background-color: rgb(44, 170, 153);
}
#panel
{
  height:200px;
  background-color: lightgreen;
  display:none;
}
#adiv
{
width:200px;
height:200px;
background:lightsteelblue

}
#box
{
  background-color: lightblue;
  padding: 10px;
  border:1px solid black;
}